
    <div class="page-wrapper dashboard ">
  
      <!-- Preloader -->
      <!-- <div class="preloader"></div> -->
  
      <!-- Header Span -->
      <span class="header-span"></span>
  
      <!-- Main Header-->
      <app-header></app-header>
      <!--End Main Header -->
  
      <!-- Sidebar Backdrop -->
      <div class="sidebar-backdrop"></div>
  
      <!-- User Sidebar -->
      <div class="user-sidebar">
  
        <div class="sidebar-inner">
          <ul class="navigation">
            <li ><a routerLink="/home/superAdmin/dashboard"> <i class="la la-home"></i> Dashboard</a></li>
            <li><a routerLink="/home/profil"><i class="la la-user-alt"></i>My Profile</a></li>
            <li><a routerLink="/home/postjob"><i class="la la-paper-plane"></i>Post a New Job</a></li>
            <li><a routerLink="/home/superAdmin/offers"><i class="la la-handshake"></i>Offers</a></li>
            <li class="active"><a routerLink="/home/superAdmin/companyList"><i class="la la-building"></i>Companies</a></li>
              <li><a routerLink="/home/superAdmin/categoryList"><i class="la la-folder-open"></i> Job Categories </a></li>
              <li><a routerLink="/home/superAdmin/levelList"><i class="la la-graduation-cap"></i>Levels</a></li>
              <li><a routerLink="/home/superAdmin/packages"><i class="la la-box"></i>Packages</a></li>
              <li><a routerLink="/home/superAdmin/sectorList"><i class="la la-star-o"></i>Sectors</a></li>
              <li><a routerLink="/home/superAdmin/cityList"><i class="la la-map"></i>Cities</a></li>
              <li><a href="#"><i class="la la-bell"></i>Resume Alerts</a></li>
              <li><a href="#"><i class="la la-lock"></i>Change Password</a></li>
            <li><a (click)="signOut()"><i class="la la-sign-out"></i>Logout</a></li>
            <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
          </ul>
        </div>
      </div>
      <!-- End User Sidebar -->
  
      <!-- Dashboard -->
      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Create a new Company</h3>
            <div class="text">Ready to jump back in?</div>
          </div>
  
          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Create company</h4>
                  </div>
  
                  <div class="widget-content">
  
                    
  
                    <form class="default-form"[formGroup]="form" (ngSubmit)="addCompany()">
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <label>Company Name</label>
                          <input type="text" name="name"formControlName="name" placeholder="Name">
                          <div class="invalid-feedback" *ngIf="nameControl?.hasError('required') && nameControl?.touched" class="error-msg" style="color: red;">Please enter Company Name</div>
                        </div>

                         <!-- Input -->
                         <div class="form-group col-lg-12 col-md-12">
                            <label>WebSite URL</label>
                            <input type="text" name="website"formControlName="website" placeholder="www.company.com">
                            <div class="invalid-feedback" *ngIf="websiteControl?.hasError('required') && websiteControl?.touched" class="error-msg" style="color: red;">Please enter Company websiteUrl</div>

                          </div>

                         <!-- Input -->
                         <div class="form-group col-lg-12 col-md-12">
                            <label>Complete Address</label>
                            <input type="text" name="address"formControlName="address" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia.">
                            <div class="invalid-feedback" *ngIf="addressControl?.hasError('required') && addressControl?.touched" class="error-msg" style="color: red;">Please enter Company address</div>

                          </div>
                          
                           <!-- Input -->
                         <div class="form-group col-lg-12 col-md-12">
                            <label>Email Address</label>
                            <input type="text" name="email"formControlName="email" placeholder="company@gmail.com">
                            <div class="invalid-feedback" *ngIf="emailControl?.hasError('required') && emailControl?.touched" class="error-msg" style="color: red;">Please enter Company email</div>
                            <div class="invalid-feedback" *ngIf="emailControl?.hasError('email') && emailControl?.touched" class="error-msg" style="color: red;">
                              Please enter a valid email address
                            </div>
                          </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Phone Number</label>
                          <input type="text" name="phone"formControlName="phone" placeholder="22 123 123">
                          <div class="invalid-feedback" *ngIf="phoneControl?.hasError('required') && phoneControl?.touched" class="error-msg" style="color: red;">Please enter Company phone</div>
                          <div class="invalid-feedback" *ngIf="phoneControl?.hasError('pattern') && phoneControl?.touched" class="error-msg" style="color: red;">
                            Phone number must be numeric
                          </div>
                        </div>
  
                       <!-- Input -->
                       <div class="form-group col-lg-6 col-md-12">
                        <label>PostCode</label>
                        <input type="text" name="postcode"formControlName="postcode" placeholder="7000">
                        <div class="invalid-feedback" *ngIf="postCodeControl?.hasError('required') && postCodeControl?.touched" class="error-msg" style="color: red;">Please enter Company postCode</div>
                        <div class="invalid-feedback" *ngIf="postCodeControl?.hasError('pattern') && postCodeControl?.touched" class="error-msg" style="color: red;">
                          PostCode number must be numeric
                        </div>
                      </div>

                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12 text-right">
                          <button class="theme-btn btn-style-one" type="submit">Create</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
      </section>
      <!-- End Dashboard -->
  
      <!-- Copyright -->
      <div class="copyright-text">
        <p>© 2021 Superio. All Right Reserved.</p>
      </div>
  
    </div><!-- End Page Wrapper -->
